body{
    margin: 0;
}
.title{
    width: 100%;
    height: 100px;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 45, 45);
}